:host {
  display: block;
  height: 100%;
}

.activity-list {
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 4px;
  }
}

.activity-item {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02);

  &:hover {
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.05),
      0 2px 4px -2px rgba(0, 0, 0, 0.05);
  }
}
