.create-task-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;

  &__row {
    display: flex;
    gap: 16px;

    mat-form-field {
      flex: 1;
    }
  }
}

.full-width {
  width: 100%;
}
